.title {
	text-align: center;
}
.title h2 {
	font-size: 35px;
	font-weight: 550;
	color: #4454eb;
	text-transform: none;
}
@media (max-width: 850px) {
	.title h2 {
		font-size: 30px;
	}
}
@media (max-width: 650px) {
	.title h2 {
		font-size: 28px;
	}
}
