.contact{
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background: #4454eb;
    color: #fff;
    font-size: 18px;
}
.contact-col{
    flex-basis: 48%;
}
.contact-col h3{
    font-weight: 600;
    font-size: 30px;
    align-items: center;
    margin-bottom: 25px;
}
.contact-col img{
    width: 300px;
    margin-bottom: 20px;
}
.contact-col p{
    font-size: 18px;
    max-width: 300px;
    list-style: 0.3;
}
.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.contact-col ul li img{
    width: 50px;
}
.btn-white-blue{
    background: #FFF;
    color: #4454eb;
    font-weight: 500;
    padding: 13px 40px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 0px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-white-blue:hover{
    background: #4454eb;
    color: #FFF;
    border: 1px solid #FFF;
}
.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: #fff;
    padding: 8px;
    font-size: 18px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.contact-col span{
    display: block;
    margin: 20px 0;
}

/* Media queries */
@media (max-width: 1000px){
    .contact{
        display: block;
        padding-top: 60px;
    }
    .contact-col{
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact form input, .contact form textarea{
        font-size: 16px;
    }
    .btn-white-blue{
        font-size: 16px;
    }
}